* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Asap';
    src: url("Asap/Asap-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Asap';
    src: url("Asap/Asap-Bold.ttf");
    font-weight: bold;
}

header {
    text-align: center;
    color: #04002a;
    font-family: Asap, sans-serif;
    padding: 20px;
    background-color: white;
}

body {
    background-color: #04002a;
    color: white;
    margin-bottom:150px;
}

.board {
    padding: 30px;
    text-align: center;
    transition: 0.3s;
    opacity: 0;
}

.bouton {
    margin: 50px auto;
    border: 3px solid gray;
    color: gray;
    font-family: Asap, sans-serif;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    width: 350px;
    transition: 0.3s;
}

.bouton.active {
    margin: 50px auto;
    font-family: Asap, sans-serif;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    width: 350px;
    transition: 0.3s;
    border: 3px solid white;
    color: white;
}

.bouton:hover.active {
    background-color: white;
    color: #04002a;
    cursor: pointer;
}

.bouton.active.selected {
    background-color: white;
    color: #04002a;
    cursor: pointer;
}

.message {
    padding: 40px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    font-family: Asap, sans-serif; 
    color: white;
    transition: 0.3s;
    opacity: 1;
}

.disp {
    display: none;
}

#DList {
    opacity: 0;
    transition: 0.3s;
}

#Tree {
    opacity: 0;
    transition: 0.3s;
}

.footer {
    position: fixed;
    height: 150px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #04002a;
    margin-bottom: 0px;
}

.middle {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.left {
    position: fixed;
    left: 10px;
    bottom: 0px;
}

.right {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.content {
    background-color: aliceblue;
    font-weight: normal;
    color: #04002a;
    width: 66%;
    margin: auto;
    margin-top: 40px;
    font-size: 30px;
    padding: 30px;
}

.tree {
    --spacing : 3rem;
    --radius  : 10px;
   
}


.tree li{
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 4px);
}
  
.tree ul{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

.tree ul li{
    border-left : 4px solid #04002a;
}
  
.tree ul li:last-child{
    border-color : transparent;
}

.tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -4);
    left         : -4px;
    width        : calc(var(--spacing));
    height       : calc(var(--spacing) - 18px);
    border       : solid #04002a;
    border-width : 0 0 4px 4px;
}


.node {
    text-align: left;
    transition: 0.3s;
}

.node:hover {
    color: blue;
    cursor: pointer;

}

.node.selected {
    color: blue;
}